<div class="container"> 
<form class="form-control" action="/weather" method="POST">
 
    <input class="form-input" type="text" name="cityName" placeholder="Enter a city">

  <button type="submit">Submit</button>
</form>

<h3>{{result}}</h3>
</div>
