<h1>{{title}}</h1>
<form action="/weather" method="POST">
  <div>
    <input type="text" name="name" placeholder="Enter a city">
  </div>
  <input type="submit" value="Submit">
</form>

<h3>{{result}}<h3>